#getImg {
  width: 130vh;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-self: center;
  /* overflow: scroll; */
}

img {
  margin: 10px;
  border-radius: 10px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(241, 90, 34, 0.3);
}

/* ---------------------------- */
#div-navbar {
  height: 90vh;
  background-image: url("./image/leaves_dark_plant_136935_3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divAleft {
  align-self: flex-end;
  text-align: center;
  color: white;
  font-size: 13px;
  width: 40vh;
  margin: 20px;
}
.divAmid {
  align-self: center;
  text-align: center;
  width: 150vh;
}

#trending {
  display: flex;
  justify-content: center;
}
#trending a {
  margin-left: 10px;
}

.divAright {
  align-self: flex-end;
  color: white;
  font-size: 15px;
  width: 40vh;
  margin: 20px;
  text-align: center;
}
#div-navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* --------------------------------- */
#search {
  width: 100vh;
}
#search + .nav-search-bottom:focus {
  display: flex;
}
#search-navbar {
  background-color: rgba(46, 49, 49, 0.3);
}

.nav-search-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-search-bottom {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  height: 25vh;
}

.motherbox1 {
  border-radius: 10px;
  width: 50vh;
  background-image: url("./image/city_aerial_view.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.motherbox2 {
  border-radius: 10px;
  width: 50vh;
  background-image: url("./image/nature.jpg");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.motherbox3 {
  border-radius: 10px;
  width: 50vh;
  background-image: url("./image/bird.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.motherbox4 {
  border-radius: 10px;
  width: 50vh;
  background-image: url("./image/Maldives.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#search-more-bottom {
  width: 100%;
}
#button-topic {
  margin-bottom: 1vh;
  margin-right: 1vh;
  opacity: 0.8;
}
/* ---------------------------- */
